## Titanic with feature engineering. 

https://www.kaggle.com/c/titanic/overview

In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
%matplotlib inline

Get titanic & test csv files as a DataFrame

In [2]:
train_data = pd.read_csv("./train.csv")
test_data = pd.read_csv("./test.csv")

Build the training set

In [3]:
y_train = train_data.pop("Survived")
X_train = train_data

Combine train and test into one single data frame for feature engineering

In [4]:
data = X_train.append(test_data, ignore_index=True)

In [5]:
data.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1304,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

__Feature Engineering Task 1__: Working to get the titles of each passenger and group them into bins

In [8]:
str = 'Braund, Mr. Owen Harris	'
str.split(',')[1].split('.')[0].strip()

'Mr'

__Feature Engineering Task 2:__ Fill the missing Fare feature with the mean value of all fares

__Feature Engineering Task 3:__ Fill the missing Embarked feature with the most frequent value

__Feature Engineering Task 4__: Filling Missing Values for the Age feature using the median age of the passage groups.

__Feature Engineering Task 5:__ Apply 1-hot encoding for the categorical features

__Feature Engineering Task 6:__ Add new synthetic feature of Family Size

__Feature Engineering Task 7:__ Add new has_cabin feature (yes or no)

__Feature Engineering Task 8:__ Binning numerical columns

__Feature Engineering Task 9:__ Drop un-used features

Now, rebuild the training set and test set

In [28]:
X_train = data.iloc[:891]
X_test_submit = data.iloc[891:]

__Feature Engineering Task 10:__ Lastly, let's scale the feature values

In [29]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
X_train_std = std_scaler.fit_transform(X_train)
X_test_submit_std = std_scaler.fit_transform(X_test_submit)

Build the train set and test set for training the models.

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_train_std, y_train, test_size=0.8, random_state=1, stratify=y_train)

### Build Classification Model 

#### Use a K-nearest Neighbor model

#### Prepare prediction results for submission to Kaggle

In [33]:
y_pred = knn.predict(X_test_submit_std)

submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": y_pred
    })
submission.to_csv('titanic.csv', index=False)